# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtualenv
.venv/

# Poetry
poetry.lock

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Data artifacts
/data/**/*.mp4
/data/**/*.avi
/data/**/*.parquet
/data/**/*.csv
